<!DOCTYPE html>
<html>
<head>
	<title>GaMester</title>
</head>
<body>
 <h1>Escolha o jogo!</h1>

<form method="POST">
jogo <select name="jogo">
	<option value="3030-18508">zelda wind waker</option>
	<option value="3030-20738">Dragon Age Origins</option>
	<option value="3030-23234">tetris</option>
	<option value="3030-13053">Final Fantasy VII</option>
	<option value="3030-13062">StarCraft</option>
	<option value="3030-4855">Shaq Fu</option>
	<option value="3030-5648">Burnout Paradise</option>
	<option value="3030-41484">The Witcher III</option>
	<option value="3030-19783">Worlds of Warcraft</option>
	<option value="3030-7094">Star Wars: Battleront II</option>
	<option value="3030-25246">Battlefield: Bad Company 2</option>
	<option value="3030-13165">Pro Evolution Soccer 2008</option>
	<option value="3030-26842">Gran Turismo</option>

</select><br/><br/>
	limite<input type="number" name="limite"><br/><br/>
	<input type="submit" value="Calcular">
</form>

</body>
</html>