<!DOCTYPE html>
<html>
<head>
	<title>opa</title>
</head>
<body>
 <h1>ta aqui a pag inicial</h1>

<form method="POST">
jogo <select name="jogo">
	<option value="3030-18508">zelda wind waker</option>
	<option value="3030-20738">Dragon Age Origins</option>
	<option value="3030-23234">tetris</option>
	<option value="3030-20588">super smash bros brawl</option>

</select><br/><br/>
	limite<input type="number" name="limite"><br/><br/>
	<input type="submit" value="pedir_filme">
</form>

</body>
</html>